.bpw-floating-button {
    /* Aligns the button to the right side of the container */
    background-color: #fb8f67ff;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    margin-right: 10px;
}

/* Modifier la font de la conversation */

.bpw-layout{
    font-family: 'Ysabeau', sans-serif;
}

/* Modification du header de la conversation */
.bpw-header-container{
    background: rgba(79, 100, 111, 0.15);
     box-shadow: 0 1px 2px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 20px );
     -webkit-backdrop-filter: blur( 20px );
     border-radius: 12px;
     border: 1px solid rgba(79, 100, 111, 0.1);;
     margin: 1em
 }

 /* Ajout de padding sur le corps de la conv */
 .bpw-msg-list{
    padding: 1em 1em;
 }

 .bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
    border-radius: 12px;
    
     box-shadow: 0 1px 2px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 12px;
    border: 1px solid rgba(79, 100, 111, 0.1);
    
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content{
     border-radius: 10px;
    background-color : #4f646f;
       box-shadow: 0 1px 2px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 12px;
    border: 1px solid rgba(79, 100, 111, 0.1);
 
    
}

.bpw-keyboard-single-choice{
    padding: 0
}



 /* Ajout styles sur le bas de la conv le container */
.bpw-composer{
    margin: 1em;
    border: 1px solid #4f646f;
    border-radius: 12px;
    padding: 0;
}

.bpw-composer-inner{
    padding:1em;
}

.bpw-composer textarea {
    padding-top: 20px;
}
 





/* Animations  */

.bpw-floating-button:hover{
    transform: translate3d(0px, 0px, 0px) scale3d(1.2, 1.2, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    background-color: #00c49aff;
   
  }