@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,400;1,500&display=swap');
.bpw-floating-button {
    /* Aligns the button to the right side of the container */
    background-color: #fb8f67ff;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    margin-right: 10px;
    border-radius: 30px;
}

/* Modifier la font de la conversation */

.bpw-layout{
    font-family: 'Ysabeau', sans-serif;
    background: rgba(79, 100, 111, 0.6);
    box-shadow: 0 1px 2px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 60px );
    -webkit-backdrop-filter: blur( §0px );
    border-radius: 12px 0 0 12px;
}

.bpw-keyboard-single-choice{
    border: 1px solid rgba(79, 100, 111, 0.7);
}

/* Modification du header de la conversation */
.bpw-header-container{
    background: rgba(79, 100, 111, 0.15);
     box-shadow: 0 1px 2px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 20px );
     -webkit-backdrop-filter: blur( 20px );
     border-radius: 12px;
     border: 1px solid rgba(79, 100, 111, 0.1);;
     margin: 1em
 }

 /* Ajout de padding sur le corps de la conv */
 .bpw-msg-list{
    padding: 1em 1em;
 }

 .bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
    border-radius: 12px;
    
     box-shadow: 0 1px 2px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 12px;
    border: 1px solid rgba(79, 100, 111, 0.1);
    
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content{
     border-radius: 10px;
    background-color : #4f646f;
       box-shadow: 0 1px 2px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 12px;
    border: 1px solid rgba(79, 100, 111, 0.1);
 
    
}

.bpw-keyboard-single-choice{
    padding: 0
}



 /* Ajout styles sur le bas de la conv le container */
.bpw-composer{
    margin: 1em;
    border: 1px solid #4f646f;
    border-radius: 12px;
    padding: 0;
}

.bpw-composer-inner{
    padding:1em;
}

.bpw-composer textarea {
    padding-top: 18px;
    font-size: 12px;
}

.bpw-send-button {
    font-family: 'Ysabeau'
}

 





/* Animations  */

.bpw-floating-button:hover{
    background-color: #00c49aff;
   
  }


  /* Responsive  */

  @media screen and (max-width: 768px){
    .bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
        font-size: 10px;
        
        
    }
    
    .bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content{
        font-size: 10px;
        
    }

    .bpw-bot-avatar img, .bpw-bot-avatar svg {
        width: 17px;
        height: 17px;
    }

    .bpw-layout{
        font-family: 'Ysabeau', sans-serif;
        background: wheat;
        box-shadow: 0 1px 2px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 60px );
        -webkit-backdrop-filter: blur( §0px );
        border-radius: 12px 0 0 12px;
    }
    
  }


 
 
  